<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/owner/signup" method="post">
        <input type="email" placeholder="email" name="email">
        <input type="text" placeholder="name" name="fullname">
        <input type="text" placeholder="password" name="password">
        <input type="text" placeholder="contact" name="contact">
        <input type="text" placeholder="address" name="address">
        <input type="text" placeholder="aadhaarNo" name="aadhaarNo">
        <input type="number" placeholder="age" name="age">
        <input type="submit" placeholder="signup" value="signup">
    </form>
</body>
</html>