<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/customer/update" method="post" >
        <input type="email" placeholder="email" name="email">
        <input type="text" placeholder="name" name="fullname">
        <input type="text" placeholder="contact" name="contact">
        <input type="text" placeholder="address" name="address">
        <input type="number" placeholder="weight" name="weight">
        <input type="number" placeholder="age" name="age">

        <input type="submit" placeholder="signup" value="update">
    </form>
</body>
</html>

<!-- 
contact,
address,
weight,
age, -->